<div class="hero-unit">
  <h1 class="headline large"><%= @guest.given_name %> <%= @guest.family_name %></h1>
  
  <%= link_to "Guests", admin_guests_path %>
  <%= link_to "View", admin_guest_path(@guest) %>
  <p></p>
  <table>
    <%= form_for :guest, url: admin_guest_path(@guest), method: :put do |f| %>
      <tr>
        <td>Given Name:</td>
        <td><%= f.text_field :given_name %></td>
      </tr>
      <tr>
        <td>Family Name:</td>
        <td><%= f.text_field :family_name %></td>
      </tr>
      <tr><td colspan=2><%= f.submit %></td>
      </tr>
    <% end %>
  </table>

  
</div>