<div class="hero-unit">
  <h1 class="headline large">Guests</h1>
  <p></p>
  <%= link_to 'New Guest', new_admin_guest_path %>
  <table>
    <tr class=alternate>
      <th>Given Name</th>
      <th>Family Name</th>
      <th>Postal</th>
      <th>RSVP</th>
      <th>Food</th>
      <th>Family</th>
    </tr>
    <% @guest.each do |q| %>
      <tr class=alternate>
        <td><%= link_to admin_guest_path(q) do %>
              <%= q.given_name %>
            <% end %></td>
        <td><%= q.family_name %></td>
        <td><%= q.postal %></td>
        <td><%= q.rsvp %></td>
        <td><%= q.food %></td>
        <td><%= link_to admin_household_path(q.household_id) do %>
              <%= q.household_name %>
            <% end %></td>
      </tr>
    <% end %>
  </table>
</div>