<div class="hero-unit">
  <h1 class="headline large"><%= @guest.given_name %> <%= @guest.family_name %></h1>
  
  <%= link_to "Guests", admin_guests_path %>
  <%= link_to "Edit", edit_admin_guest_path(@guest) %>
  <p></p>
  <table>
      <tr class=alternate>
        <td>Given Name:</td>
        <td><%= @guest.given_name %></td>
      </tr>
      <tr class=alternate>
        <td>Family Name:</td>
        <td><%= @guest.family_name %></td>
      </tr>
      <tr class=alternate>
        <td>Logins:</td>
        <td><%= @guest.logins %></td>
      </tr>
      <tr class=alternate>
        <td>Created:</td>
        <td><%= @guest.created_at %></td>
      </tr>
  </table>

  
</div>