<div class="hero-unit">
  <h1 class="headline large"><%= @household.household_name %></h1>
  
  <%= link_to "Households", admin_households_path %>
  <%= link_to "Edit", edit_admin_household_path(@household) %>
  <p></p>
  <table>
      <tr class=alternate>
        <td>Family Name:</td>
        <td><%= @household.household_name %></td>
      </tr>
      <tr class=alternate>
        <td>Zip:</td>
        <td><%= @household.zip %></td>
      </tr>
      <tr class=alternate>
        <td>Seats:</td>
        <td><%= @household.seats %></td>
      </tr>
      <tr class=alternate>
        <td>Created:</td>
        <td><%= @household.created_at %></td>
      </tr>
  </table>
  
  <h3 class="headline medium">In this Household</h3>
  
  <table>
    <tr class=alternate>
      <td>Given Name</td>
      <td>Family Name</td>
      <td>RSVP</td>
      <td>Food</td>
    </tr>
    <% @guest.each do |guest| %>
      <tr class=alternate>
        <td><%= guest.given_name %></td>
        <td><%= guest.family_name %></td>
        <td><%= guest.rsvp %></td>
        <td><%= guest.food %></td>
      </tr>
  <% end %>
  </table>

  
</div>