<script type="text/javascript">
    $(document).ready(function() {
        $('#guest_list').dataTable({
            "aaSorting": [
                [ 0, "desc" ]
            ]
        });
    });
</script>

<div class="hero-unit">

    <h1 class="headline large">Admin</h1>

    <table class="condensed-table">
        <tr class=alternate>
            <td><%= link_to "Guests", admin_guests_path %></td>
            <td><%= link_to "Households", admin_households_path %></td>
            <td><%= link_to "Visitors", admin_visitors_path %></td>
            <td><%= link_to "Wedding Party", admin_entourages_path %></td>
            <td><%= link_to "Entertainment", admin_locations_path %></td>
        </tr>
    </table>
    
    <br>
        <h2 class="headline medium">
            Invited: <%= Guest.count %><br>
            Attending: <%= Guest.where(:rsvp => TRUE).count %><br>
            Not Attending: <%= Guest.where(:rsvp => FALSE).count %><br>
            Yet to respond: <%= Guest.where(:rsvp => nil).count %><br>
            Maximum Guest List: <%= Guest.count - Guest.where(:rsvp => FALSE).count %></h2>

</div>