<!-- Main hero unit for a primary marketing message or call to action -->
<% if flash[:error] %>
  <h2><b><%= flash[:error] %></b></h2><br>
<% end %>

<% if flash[:notice] %>
  <b><%= flash[:notice] %></b><br>
<% end %>

<% if flash[:not_authorized] %>
  <b><%= flash[:not_authorized] %></b><br>
<% end %>


<% if current_visitor %>
  You are logged in!
  <% else %>
      
  <%= form_tag sessions_path do %>

    <p>
        <%# text_field_tag(:group, "guest", placeholder: "guest") %>
        <% unless params[:user] == 'admin' %>
            <%= hidden_field_tag(:group, "guest", placeholder: "guest") %>
        <% else %>
            <%= hidden_field_tag(:group, "admin", placeholder: "admin") %>
        <% end %>
      <%= password_field_tag(:password, "", placeholder: "Password") %> <%= submit_tag "Log in" %>
    </p>
    
  <% end %>
  
<% end %>


<% photos = ['engagement1.jpg', 'engagement2.jpg'] %>

<div class="hero-unit">
    <h1 class="headline large">Eimee <span class="highlight">&amp;</span> Daron</h1>

                    <%= image_tag photos[Random.new.rand(0..1)], height: '95%', width: '95%' %>
    <p>
    <h2 class="headline date">8.8.15<br>Portland, Oregon</h2></p>

</div>

<!-- Example row of columns 
<div class="row">
    <div class="span-one-third">
        <h2>What</h2>

        <p>We're getting married!  That's right folks, it's time to put your dancin' shoes on.</p>

    </div>
    <div class="span-one-third">
        <h2>Where</h2>
        <p>We will be holding the ceremony and reception at General Potter Farm in Potters Mills, PA.  Potters Mills is just outside of State College, PA.</p>

    </div>
    <div class="span-one-third">
        <h2>When</h2>
        <p>April 28th 2012.  Ceremony starts at 6:30pm.  Cocktail Hour starts at 7pm.  Adult Reception starts at 8pm.</p>

    </div>
</div>
-->
