<div class="hero-unit">
    <h1 class="headline large">Lodging</h1>
    <br/>
    <br/>

    <table class="wedding_party">
        <tr class="alternate">
            <td><center>
                <h2>Hotel Lucia</h2>

                <p>400 SW Broadway

                <br>Portland, OR 97205

                <br>866-986-8086
                
                <p><%= link_to 'Website', "http://hotellucia.com", :target => 'new' %>

                <p>To receive our group rate, please call reservations and request the Rivera/Peugh block
                </center>
            </td>
        </tr>

        <tr class="alternate">
            <td><center>
                <h2>Portland Marriott City Center</h2>

                <p>520 SW Broadway

                <br>Portland, OR 97205

                <br>503-226-6300
                
                <p><%= link_to 'Website', "http://www.marriott.com/hotels/travel/pdxct-portland-marriott-city-center/", :target => 'new' %></p>
                </center>

                
            </td>
        </tr>
        
        <tr class="alternate">
            <td><center>
                <h2>Hotel Monaco</h2>

                <p>506 SW Washington

                <br>Portland, OR 97204

                <br>888-207-2201
                
                <p><%= link_to 'Website', "http://www.monaco-portland.com/", :target => 'new' %></p>
                </center>
            </td>

        </tr>
        
        <tr class="alternate">
            <td><center>
                <h2>Airbnb</h2>

                
                <p><%= link_to 'Website', "https://www.airbnb.com/s/Portland--OR--United-States?checkin=08%2F07%2F2015&checkout=08%2F09%2F2015&guests=2&room_types%5B%5D=Entire+home%2Fapt&ss_id=etavzl2z", :target => 'new' %></p>
                </center>
            </td>

        </tr>
        
        <tr class="alternate">
            <td><center>
                <h2>VRBO</h2>

                
                <p><%= link_to 'Website', "http://www.vrbo.com/vacation-rentals/usa/oregon/portland-metro/portland?from-date=2015-08-07&to-date=2015-08-09", :target => 'new' %></p>
                </center>
            </td>

        </tr>
        
    </table>

</div>

