<div class=hero-unit>
  
  <h1 class=headline>Wedding Party</h1>
  <p></p>

<table>
  <tr class=alternate>
    <th>Name</th>
    <th>Role</th>
    <th>Name</th>
    <th>Role</th>
  </tr>

  <% x = 2 %>
  <% @entourage.each do |entourage| %>
    <% if x % 2 == 0 %>
      <tr class=alternate>
        <td><%= entourage.given_name %> <%= entourage.family_name %></td>
        <td><%= entourage.role %></td>
    <% else %>
        <td><%= entourage.given_name %> <%= entourage.family_name %></td>
        <td><%= entourage.role %></td>
      </tr>
    <% end %>
    <% x += 1 %>
  <% end %>
<tr class=alternate>
  <td>Bella Boday</td>
  <td>Flower Girl</td>
  <td>Lucas Tomeldan</td>
  <td>Ringbearer</td>
</tr>
<tr class=alternate>
  <td>Gabby Boday</td>
  <td>Flower Girl</td>
  <td colspan=2></td>
</tr>
</table>

</div>
