<div class="hero-unit">
    <h1 class="headline large">Places to Visit</h1>
    
    <h2 class="headline">Coffee</h2>
    
    <table>
        <% @coffee.each do |coffee| %>
            <tr class=alternate>
                <td width=20%><%= link_to coffee.description, coffee.website, :target => 'blank' %></td>
                <td width=20%><%= coffee.neighborhood %></td>
                <td><%= coffee.notes %></td>
            </tr>
        <% end %>
    </table>
    
    <h2 class="headline">Food</h2>
    
    <table>
        <% @food.each do |food| %>
            <tr class=alternate>
                <td width=20%><%= link_to food.description, food.website, :target => 'blank' %></td>
                <td width=20%><%= food.neighborhood %></td>
                <td><%= food.notes %></td>
            </tr>
        <% end %>
    </table>
    
    <h2 class="headline">Drinks</h2>
    
    <table>
        <% @drinks.each do |drinks| %>
            <tr class=alternate>
                <td width=20%><%= link_to drinks.description, drinks.website, :target => 'blank' %></td>
                <td width=20%><%= drinks.neighborhood %></td>
                <td><%= drinks.notes %></td>
            </tr>
        <% end %>
    </table>
    
    <h2 class="headline">Outdoors & Entertainment</h2>
    
    <table>
        <% @outdoors.each do |outdoors| %>
            <tr class=alternate>
                <td width=20%><%= link_to outdoors.description, outdoors.website, :target => 'blank' %></td>
                <td width=20%><%= outdoors.neighborhood %></td>
                <td><%= outdoors.notes %></td>
            </tr>
        <% end %>
    </table>
    
</div>