<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand <%= is_active?("home#index") %>" href="/"><span class="headline">Eimee <span class="highlight">&</span> Daron</span></a>
            <ul class="nav">
                <li class="<%= is_active?("home#details") %>"><%# link_to "Directions", :controller => "home", :action => "directions" %> <%= link_to "Details", details_path %></li>
                <li class="<%= is_active?("households#index") %>"><%# link_to "Directions", :controller => "home", :action => "directions" %> <%= link_to "RSVP", households_path %></li>
                <li class="<%= is_active?("home#lodging") %>"><%# link_to "Lodging", :controller => "home", :action => "lodging" %> <%= link_to "Lodging", lodging_path %></li>
                <li class="<%= is_active?("entourages#index") %>"><%= link_to 'Wedding Party', entourages_path %></li>
                <li class="<%= is_active?("locations#index") %>"><%= link_to 'Places to Visit', locations_path %></li>
                <li class="<%= is_active?("home#hashtags") %>"><%= link_to '#peughveras2015', hashtags_path %></li>
                <!--<li><%= link_to "Pictures", "https://plus.google.com/photos/108015937443484303551/albums/5684211146845674273?authkey=CNnS7rKutNnCJQ", :target => "_blank" %></li>-->
                <!--<li class="<%= is_active?("home#registry") %>"><%# link_to "Registry", :controller => "home", :action => "registry" %> <%= link_to "Registry", registry_path %></li>-->
                <!--<li class="<%= is_active?("rsvp#index") %>"><%# link_to "RSVP", :controller => "rsvp", :action => "index" %> <%= link_to "RSVP", rsvp_index_path %></li>-->
                <% if current_visitor %>
                    <% if current_visitor.is_admin? %>
                        <li class="<%= is_active?("admin#index") %>"><%= link_to "Admin", admin_index_path %></li>
                    <% end %>
                <% end %>
                <% if current_visitor %>
                    <li><%= link_to "Log out", log_out_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>