<div class="hero-unit">

    <h1 class="headline large"> RSVP </h1>
    
    <%# @q[0].given_ %>
    
    <table>
        <%= form_tag("/households", method: "get") do %>
            <%# label_tag(:household_name, "Last Name:") %>
            <%= text_field_tag(:household_name, "", placeholder: "Last Name") %><br>
            <%# label_tag(:zip, "Zip:") %><%= text_field_tag(:postal, "", placeholder: 'Zip Code') %><p>
            <%= submit_tag("Search") %>
        <% end %>
    </table>
    
    <% @colorwheel = ['0033CC', 'FF0066', '33CC33', '00CCFF', 'FFFFCC', 'FF0000', '99FFCC', 'FF99FF', 'FF9900'] %>
    
    <% unless @household.nil? %>
        <% if @household.count > 0 %>
            <h3 class="headline medium">Please RSVP</h3>
        <% else %>
            Last name and zip code do not match
        <% end %>
    <% else %>
        Please input data
    <% end %>
    
    <% unless @guests.nil? %>
        <% if @guests.count < @household[0].household.seats %>
            <%= form_for :guest, :url => {:action => :index}, method: :put do |f| %>
                <% if @plus_one.errors.any? %>
                  <div class="error_messages">
                    <h2>Form is invalid</h2>
                    <ul>
                      <% for message in @plus_one.errors.full_messages %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                
                You have the option of inviting
                
                <% if @household[0].household.seats - @guests.count == 1 %>
                    one additional guest.
                <% else %>
                    <%= @household[0].household.seats - @guests.count %> additional guests.
                <% end %>
                <br>If you'll be bringing someone, please enter their name below.
                <p>
                  <div>
                <%= f.text_field :given_name, placeholder: "First Name" %><br>
                
                <%= f.text_field :family_name, placeholder: "Last Name" %><br>

                <%= f.hidden_field :household_id, :value => @household[0].household.id %>
                <%= hidden_field_tag :postal, params[:postal] %>
                <%= hidden_field_tag :household_name, params[:household_name] %><p>
                <%= f.submit 'Create Guest', :class => 'prominent'  %>
                </div>
            <% end %>
        <% end %>
        <% if @guests.count > 0 %>
            <table class="wedding_party">
                <tr  class="alternate">
                    <td><h2>Guest Name</h2></td>
                    <td colspan=2><center><h2>Attending</h2></center></td>
                    <td><h2>Food</h2></td>
                </tr>
            <%= form_for :household, method: :put do %>
                <%= hidden_field_tag(:household_name, params[:household_name]) %>
                <%= hidden_field_tag(:postal, params[:postal]) %>
                <% @guests.each do |guest| %>
                  <%= fields_for "guest[]", guest do |guest_fields| %>
                    <tr  class="alternate">
                        <%= guest_fields.hidden_field( :id, :value => guest.id) %>
                        <td><h3><%= guest.given_name %> <%= guest.family_name %></h3></td>
                        
                        <td>
                            <center><h3>Yes &nbsp;&nbsp;<%= guest_fields.radio_button( :rsvp, 'true') %></h3></center>
                            
                        </td>
                        
                        <td>
                            <center><h3>No &nbsp;&nbsp;<%= guest_fields.radio_button( :rsvp, 'false') %></h3></center>
                        </td>
                        <% unless guest.is_child? %>
                            <td><%= guest_fields.select(:food, options_for_select(['Beef', 'Salmon', 'Vegan'], :selected => guest.food), :include_blank => true) %></td>
                        <% else %>
                            <% if guest.token == 'hungry' %>
                                <td></td>
                            <% else %>
                                <td><h3>Kid's meal</h3><%= guest_fields.hidden_field(:food, :value => 'Kid') %></td>
                            <% end %>
                        <% end %>
                    </tr>
                  <% end %>
                <% end %>
                <tr>
                    <td colspan=6><%# text_field_tag :email, @household[0].email %>
                    <% if @household[0].household.logins.nil? %>
                        <% q = 0 %>
                    <% else %>
                        <% q = @household[0].household.logins %>
                    <% end %>
                    <%= hidden_field_tag :household_id, @household[0].household.id %>
                    <%= hidden_field_tag :logins, q += 1 %>
                    <%= submit_tag 'Submit Preferences' %></td>
                </tr>
            <% end %>
            </table>
            <% if flash[:notice] %>
                <div class="notice"><b><font color=<%= @colorwheel[rand(8)] %>><%= flash[:notice] %></font></b></div>
            <% end %>
        <% end %>
    <% end %>

</div>
